body 
{
    background: rgb(40, 43, 197);
    font: normal 15pt arial;
}
header 
{
    text-align: center;
    color: rgb(34, 0, 97);
}


section 
{
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
    margin: auto;
}

footer 
{
    color: rgb(34, 0, 97);
    text-align: center;
    font-style: italic ;
}

div {
text-align: center;
}


